			body{
				margin: 0;
				padding: 0;
				font-family: arial;
			}

			
			.cursor{
				width: 20px;
				height: 20px;
				border: 1px solid;
				border-radius: 50%;
				position: absolute;
				color:#fff;
				transition-duration: 50ms;
				transition-timing-function: ease-out;
				animation: cursorAnim .5s infinite alternate;
			}
			
			@keyframes cursorAnim{
				from{
					transform: scale(1);
				}
				to{
					transform: scale(.7);
				}
			}

			.cursor::after{
			content:"";
			width: 20px;
			height: 20px;
			position: absolute;
			border: 8px solid grey;
			border-radius: 50%;
			opacity: .5;
			top: -8px;
			left: -8px;
			animation: cursorAnim2 .5 infinite alternate;
			}

			@ketframes cursorAnim2{
				from{
					transform: scale(1);
				}
				to{
					transform: scale(.4);
				}
			}

			#navbar{
            width: 100%;
            color: black;
            position: fixed;
            top: 0px;
            padding-top: 10px;
			z-index: 999;
			background-color:#000;
			opacity:70%;
        }

        #linkref{
            color: white;
            text-decoration: none;
        }

        ul{
            float: right;
            list-style-type: none;
            margin-top: 0px;
        }

        ul li{
            display: inline-block;
            padding: 20px;
        }

        ul li a{
            text-decoration: none;
            color: #fff;
        }

			.container{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100vh;
				animation: animate 16s ease-in-out infinite;
				background-size: cover;
				z-index: -1;
			}

			.outer{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100vh;
				background: rgba(0,0,0,0.5);
			}

			.details{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
			}

			.details h1{
				font-size: 4em;
				color: #fff;
			}

			.details h2{
				text-transform: capitalize;
				color: #fff;
			}

			.details h2 span:nth-child(1){
				color: red;
			}

			.details h2 span:nth-child(2){
				color: yellow;
			}


			@keyframes animate{
				0%,100%{
					background-image: url(1.jpg);
				}
				25%{
					background-image: url(2.jpg);
				}
				50%{
					background-image: url(3.jpg);
				}
				75%{
					background-image: url(4.jpg);
				}
			}
